# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Output folders
bin/
dist/

# Vendor Dependencies (if you use `go mod vendor`)
/vendor/

# Dependency directories created by `go get`
/Godeps/

# Editor and IDE settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debugging
*.log

# Environment variables
.env

# Temporary files
*.tmp
*.temp
